{% extends 'ProjectMgmtBundle::base.html.twig' %}
{% block content %}
<h1>chapter edition</h1>

<form action="{{ path('chapter_update',{'id':id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
</form>{% endblock content %}
