{% extends 'ProjectMgmtBundle::base.html.twig' %}
{% block content %}
<h1>Chapter creation</h1>

<form action="{{ path('chapter_create',{'idBook':idBook}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>{% endblock content %}
