{% extends 'ProjectMgmtBundle::base.html.twig' %}
{% block content %}
<h1>{{ book.name }} : nouveau chapitre</h1>

<form action="{{ path('chapter_create',{'idBook':book.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
</form>{% endblock content %}
