{% extends 'ProjectMgmtBundle::base.html.twig' %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <h1 class="acme">{{ 'page.book.new.title'|trans }}</h1>
        <hr>
        <form action="{{ path('book_create') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
        </form>
    </div>
</div>
{% endblock content %}
