{% extends 'ProjectMgmtBundle::base.html.twig' %}
{% block content %}
<h1>Ajouter un livre</h1>

<form action="{{ path('book_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
</form>{% endblock content %}
